extends ../layout

block content
	a(href="/articles") Go Back
	form(action=`/articles/${article._id}/delete`, method="post")
		button(type="submit") Delete Article
	a(href=`/articles/${article._id}/edit`) Edit Article
	h1= article.title
	h3= article.authors
	p= article.body